.container{
	width: 99%;
	margin-top: 20px;
}
.container>h3{
	margin:0;
}
.nav-tabs{
	border-radius: .4em;
	background-color: #f5f5f5;
}
.nav-tabs>li{
	-webkit-transition: all .2s ease-out;
	   -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	     -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;
}
.nav-tabs>li>a{
	color: #777 !important;
}
.nav-tabs>li>a:hover{
	color: #00709e !important;
}
.nav-tabs>li.active{
	background-color: #00709e;
	border-radius: .4em;
}
.nav-tabs>li.active a{
	color: #fff !important;
}

.tab-content .img-responsive{
	margin:10px auto;
}
.thumbnail:hover{
	border-color: #00709e;
}
figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.thumbnail:hover figure img{
	opacity: .7;
}
.caption h3{
	font-size: 1.5em;
	margin:0 0 0 13px;
}
.caption h5{
	font-size: 1.1em;
	margin:5px 10px 0 0;
}
.caption .btn{
	display: block;
	margin:0 auto;
	padding: 0 10px 8px 10px;
	background-color:#00709e !important;
	color: #fff !important;
}


.form-group label{
	margin-top: 20px;
	font-weight: normal;
}
.form-group input{
	margin: 0;
	font-size: 1.3em;
	text-align: center;
}
.nuevos h4>i{
	position: relative;
	top: -3px;
	font-size: 10px;
}
.carro{
	margin-top: 0;
}
.carro a{
	background-color: #fff !important;
	margin-right: 9px;
}
.form-control:focus,
.form-control:focus {
    background-image: linear-gradient(#00709e,#00709e),linear-gradient(#d2d2d2,#d2d2d2) !important;
}