.panel{
	margin-top:5em;
}
@media (min-width: 1250px) {
	.panel{
		margin-top:10em;
	}
}
.logo{
	margin: 20px auto;
	width: 250px;
}
h4{
	font-size: 1.7em;
}
a{
	color: #00709e !important;
}
svg{
	display: block;
	margin: auto;
}
p{
	margin-top: -10px;
}
#alerta{
	display: none;
}
